body{
    color: white;
    background: rgb(197, 192, 192);
    margin: 0px;
}

header{
    border-bottom: solid 2px hsl(253, 60%, 37%);
    padding: 20px;
    font-size: 32px;
    color: rgb(41, 41, 110);
}
